<script>
  const bulmaCarousel = require("bulma-carousel/src/js");
  bulmaCarousel.attach('#slider', {
    slidesToScroll: 1,
    slidesToShow: 3,
    infinite: true,
  });
</script>
<!DOCTYPE html>
<html>
<body>
<section class="section">
  <div class="container">
    <div id="slider">
      <div class="card">
        <div class="card-image">
          <figure class="image is-large">
            <img
              src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
              alt=""
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="item-title">
            Title one
          </div>
          <div class="item-description">
            Here's a brief description
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <figure class="image is-large">
            <img
              src="https://images.unsplash.com/photo-1550945771-515f118cef86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
              alt=""
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="item-title">
            Image 2
          </div>
          <div class="item-description">
            Here's ANOTHER brief description
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <figure class="image is-large">
            <img
              src="https://images.unsplash.com/photo-1550971264-3f7e4a7bb349?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
              alt=""
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="item-title">
            Image 3
          </div>
          <div class="item-description">
            YET ANOTHER brief description
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <figure class="image is-large">
            <img
              src="https://images.unsplash.com/photo-1550931937-2dfd45a40da0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
              alt=""
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="item-title">
            Image 4
          </div>
          <div class="item-description">
            Why are there so many brief descriptions?! This is another.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <figure class="image is-large">
            <img
              src="https://images.unsplash.com/photo-1550930516-af8b8cc4f871?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
              alt=""
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="item-title">
            Image 5
          </div>
          <div class="item-description">
            You get the idea.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
